/* Estilos para o componente .App */
.App {
  text-align: center;
}

/* Estilos para o logotipo do aplicativo */
.App-logo {
  height: 30vmin;
  pointer-events: none;
}

/* Animação para o logotipo do aplicativo, se não houver preferência por redução de movimento */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Estilos para o cabeçalho do aplicativo */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Estilos para links no aplicativo */
.App-link {
  color: #61dafb;
}

/* Animação de rotação para o logotipo do aplicativo */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
